/* Font-face Section */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwN4rWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwPIsWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIouWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Global Settings*/

html {
  font-size: 16px;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: black;
}

p, h1, h2, h3, a, span, li {
  font-family: "Raleway", "Trebuchet MS", Arial, sans-serif;
  line-height: 1.3;
  color: hsla(0, 0%, 29%, 1);
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}

body {
  max-width: 90rem;
  min-width: 20rem;
  margin: auto;
}

/* Top Nav */

.topNav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  width: 100%;
  max-width: 90rem;
  min-width: 20rem;
  height: 4rem;
  background-color: hsla(0, 0%, 100%, 1);
  border-bottom: 1px solid hsla(0, 0%, 85%, 1);
}

.ColmarLogo {
  display: inline-flex;
  align-items: center;
  padding-left: 1.5rem;
}

.ColmarLogo img {
  height: 3rem;
}

.ColmarLogo .orgName {
  font-size: 1.75rem;
  text-transform: uppercase;
}

.orgName #firstName {
  font-weight: 900;
}

.orgName #lastName {
  font-weight: 300;
  color: hsla(0, 0%, 29%, 1);
}

.navMenu ul {
  display: flex;
  padding-right: 1.5rem;
}

.navMenu ul li {
  padding-left: 1rem;
  font-size: 1.25rem;
}

.navMenu a:hover {
  color: hsla(0, 100%, 50%, 1);
}

.navMenu .mobileMenu {
  display: none;
}

/* topNav Section for Tablets */

@media (min-width: 768px) and (max-width: 1024px) {

  .ColmarLogo img {
    height: 3rem;
  }

  .ColmarLogo .orgName {
    font-size: 1.75rem;
  }

  .navMenu ul li {
    padding-left: 1rem;
    font-size: 1rem;
  }

}

/* topNav Section for Mobile */

@media (min-width: 320px) and (max-width: 767px) {

  /* Global */
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  /* topNav */
  .ColmarLogo {
    display: none;
  }

  .navMenu .desktop {
    display: none;
  }

  .navMenu {
    width: 100%;
  }

  .navMenu ul li {
    padding: 0;
  }

  .navMenu .mobileMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .mobileMenu img {
    height: 2.5rem;
  }
}

/* Hero Section */

.heroSection {
  display: flex;
  padding-top: 4rem;
  background-color: hsla(0, 0%, 85%, 1);
}

.heroImage {
  padding: 2rem 1.5rem;
  width: 60%;
}

.heroImage img {
  width: 100%;
}

.heroContent {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  width: 30%;
}

.heroSpace {
  width: 10%;
}

.heroContent h1 {
  padding-top: 30%;
  padding-bottom: 5%;
}

.heroContent h2 {
  padding-bottom: 7%;
}

.heroContent span {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  color: hsla(0, 0%, 100%, 1);
  background-color: hsla(0, 0%, 29%, 1);
}

.heroContent span:hover {
  color: hsla(0, 100%, 50%, 1);
  cursor:pointer;
}

/* Hero Section for Tablets */

@media (min-width: 768px) and (max-width: 1024px) {

  .heroContent h1 {
    padding-top: 20%;
    font-size: 1.75rem;
  }

  .heroContent h2 {
    font-size: 1.25rem;
  }

}

/* TODO: Hero Section for mobile */

@media (min-width: 320px) and (max-width: 767px) {

  .heroSection {
    flex-wrap: wrap;
  }

  .heroImage {
    padding: 0;
    width: 100%;
  }

  .heroImage img {
    height: auto;
  }

  .heroContent {
    width: 100%;
    padding: 1rem 1rem;
  }

  .heroContent h1 {
    padding-top: 0;
    padding-bottom: 5%;
  }

  .heroContent h2 {
    font-size: 1.25rem;
  }

  .heroSpace {
    display: none;
  }

}

/* Main Section*/

.mainSection {
  display: flex;
}

.leftMain {
  width: 60%;
  padding: 2rem 1.5rem;
}

.leftMain img {
  width: 100%;
}

.leftMain h1 {
  margin: 2rem auto 1.5rem auto;
}

.leftMain .source {
  padding: 2rem 0;
  font-size: 0.8rem;
  font-weight: 600;
}

.rightMain {
  width: 40%;
  border-left: 1px solid hsla(0, 0%, 85%, 1);
  padding-top: 2rem;
}

.infoBox {
  display: flex;
  justify-content: space-between;
}

.infoBox:first-child {
  border-bottom: 2px solid hsla(0, 0%, 85%, 1);
}

.infoBox:last-child {
  background-color: hsla(0, 0%, 85%, 1);
}

.infoBox .imgBox {
  width: 35%;
  padding: 1rem;
}

.infoBox .imgBox .mobileImg {
  display: none;
}

.infoBox .imgBox.first {
  padding-top: 0;
}

.imgBox img {
  width: 100%;
  height: auto;
}

.infoBox .contentBox {
  width: 65%;
  padding: 8% .5rem;
}

div .contentBox.first {
  padding: 6% .5rem;
}

.contentBox h3 {

}

.contentBox p {
  padding: .75rem 0;
}

.contentBox a {
  color: hsla(210, 100%, 50%, 1);
}

.contentBox a:hover {
  color: hsla(0, 100%, 50%, 1);
}

/* Main Section for Tablets */

@media (min-width: 768px) and (max-width: 1024px) {

  .leftMain {
    padding-bottom: 0;
  }

  .leftMain h1 {
    margin: 1rem auto;
}

  .leftMain .source {
    padding: 1.5rem 0;
  }

  .infoBox .contentBox {
    padding: 4% .5rem;
  }

  div .contentBox.first {
    padding: 2% .5rem;
  }

  .contentBox p {
    padding: .5rem 0;
  }
}

/* Main Section for mobile */

@media (min-width: 320px) and (max-width: 767px) {

  .leftMain {
    display: none;
  }

  .rightMain {
    width: 100%;
    border: none;
    padding-top: 1rem;
  }

  .infoBox {
    flex-wrap: wrap;
  }

  .infoBox .imgBox {
    width: 100%;
    padding: 1rem;
  }

  .infoBox .imgBox .desktopImg {
    display: none;
  }

  .infoBox .imgBox .mobileImg {
    display: flex;
  }

  .infoBox .contentBox, .infoBox .contentBox.first {
    width: 100%;
    padding: 0 2rem 1rem 2rem;
  }

  .infoBox:first-child {
    border-bottom: none;
  }

  .infoBox:last-child {
    background-color: hsla(0, 0%, 100%, 1);
    border-bottom: 2px solid hsla(0, 0%, 85%, 1);
  }
}

/* Learning Section */

.learningSection {
  background-color: hsla(0, 0%, 85%, 1);
}

.learningSection .learningTitle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.learningTitle h1 {
  padding-top: 2rem;
}

.courseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2.5rem 2rem 2.5rem;
}

.mobileCourseList {
  display: none;
}

.course {
  width: 30%;
  margin: 1rem;
  margin-top: 2rem;
  background-color: hsla(0, 0%, 100%, 1);
}

.courseImg img {
  width: 100%;
  height: auto;
}

.courseInfo {
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.courseInfo h3:hover {
  color: hsla(0, 100%, 50%, 1);
  cursor: pointer;
}

.courseInfo p {
  padding: 0.5rem 0;
}

.courseInfo span, p {
  font-weight: 300;
}

/* Learning Section for Tablets */

@media (min-width: 768px) and (max-width: 1024px) {

  .courseList {
    padding: 0 1.5rem 2rem 1.5rem;
  }

  .course {
    width: 45%;
  }

}

/* Learning Section for Mobile */

@media (min-width: 320px) and (max-width: 767px) {

  .learningSection {
    background-color: hsla(0, 0%, 100%, 1);
    border-bottom: 2px solid hsla(0, 0%, 85%, 1);
  }

  .courseList {
    display: none;
  }

  .mobileCourseList {
    display: flex;
    padding: 1rem;
    padding-bottom: 1rem;
  }

  .mobileCourseList ul {
    width: 100%;
  }

  .mobileCourseList ul li {
    background-color: hsla(0, 0%, 85%, 1);
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.25rem;
  }
}


/* Thesis Section */

.thesisSection {

}

.thesisSection .thesisTitle {
  display: flex;
  justify-content: center;
}

.thesisTitle h1 {
  padding-top: 2rem;
}

.thesisExhibits {
  margin-top: 2rem;
  display: flex;
}

.videoSection {
  width: 60%;
  margin: 0 1.5rem;
}

.videoSection video {
  width: 100%;
}

.videoSection span h3 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.videoSection span p {
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.thesisLinks {
  width: 40%;
}

.thesisLink {
  display: flex;
  margin-right: 0.5rem;
}

.thesisLink:first-child {
  background-color: hsla(0, 0%, 85%, 1);
}

.thesisImg {
  width: 35%;
}

.thesisImg img {
  width: 100%;
  height: auto;
  margin: 1rem;
}

.thesisContent {
  width: 65%;
  padding: 2rem;
  margin-top: 2.5%;
}

.thesisContent h3 {

}

.thesisContent p {
  padding-top: .5rem;
}

/* Thesis Section for Tablets */

@media (min-width: 768px) and (max-width: 1024px) {

  .thesisContent {
    padding: 2rem;
    padding-top: 0;
    margin-top: 1rem;
  }

}

/* Thesis Section for Mobile */

@media (min-width: 320px) and (max-width: 767px) {

  .thesisExhibits {
    margin-top: 0;
  }

  .thesisTitle h1 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }

  .videoSection {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .videoSection span h3 {
    display: none;
  }

  .videoSection span p {
    display: none;
  }

  .thesisLinks {
    display: none;
  }

}

/* Footer Section */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 4rem 1.5rem;
  font-size: 0.9rem;
  border-top: 1px solid grey;
}

.legalLinks a  {
  padding-left: 0.75rem;
  font-weight: 800;
}

.legalLinks a:hover  {
  color: hsla(0, 100%, 50%, 1);
}

/* Footer Section for Tablets */

@media (min-width: 768px) and (max-width: 1024px) {

  footer {
    padding-bottom: 2rem;
  }

}

/* TODO: Footer Section for Mobile */

@media (min-width: 320px) and (max-width: 767px) {

  footer {
    padding: 2.5rem 0 1rem 1.5rem;
    font-size: 0.6rem;
  }

  .legalLinks {
    display: none;
  }

}


/* */
