/* Global Settings*/

html {
  font-size: 16px;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: black;
}

/* Top Nav */

.topNav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  width: 100%;
  height: 4rem;
  background-color: white;
}

.ColmarLogo {
  display: inline-flex;
  align-items: center;
  padding-left: 1.5rem;
}

.ColmarLogo img {
  height: 3rem;
}

.ColmarLogo .orgName {
  font-size: 1.75rem;
  text-transform: uppercase;
}

.orgName #firstName {
  font-weight: 900;
}

.orgName #lastName {
  font-weight: 300;
  color: darkgrey;
}

.navMenu ul {
  display: flex;
  padding-right: 1.5rem;
}

.navMenu ul li {
  padding-left: 1rem;
  font-size: 1.25rem;
}

.navMenu a:hover {
  color: red;
}

.navMenu .mobileMenu {
  display: none;
}

/* Hero Section */

.heroSection {
  display: flex;
  padding-top: 4rem;
  background-color: lightgrey;
}

.heroImage {
  padding: 2rem 1.5rem;
  width: 60%;
}

.heroImage img {
  width: 100%;
}

.heroContent {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  width: 30%;
}

.heroSpace {
  width: 10%;
}

.heroContent h1 {
  font-size: 3rem;
  font-weight: 900;
  padding-top: 40%;
  padding-bottom: 5%;
}

.heroContent h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 7%;
}

.heroContent span {
  display: flex;
  justify-content: center;
  background-color: darkgrey;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
}

/* Main Section*/

.mainSection {
  display: flex;
  padding: 2rem 0;
}

.leftMain {
  width: 60%;
  padding: 0 1.5rem;
}

.leftMain img {
  width: 100%;
}

.leftMain h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 2rem auto 1.5rem auto;
}

.leftMain .source {
  padding: 2rem 0;
  font-size: 0.9rem;
  color: red;
}

.rightMain {
  width: 40%;
}

.infoBox {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
}

.infoBox:last-child {
  background-color: grey;
}

.infoBox .imgBox {
  width: 35%;
  padding: 1rem;
}

.imgBox img {
  width: 100%;
  height: auto;
}

.infoBox .contentBox {
  width: 65%;
  padding: 10% .5rem;
}

.contentBox h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.contentBox p {
  padding: .5rem 0;
}

.contentBox a {
  color: blue;
}

/* Learning Section */

.learningSection {
  background-color: lightgrey;
}

.learningSection .learningTitle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.learningTitle h1 {
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.courseList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2.5rem 2rem 2.5rem;
}

.course {
  width: 30%;
  margin: 1rem;
  margin-top: 2rem;
  background-color: white;
}

.courseImg img {
  width: 100%;
  height: auto;
}

.courseInfo {
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.courseInfo h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.courseInfo p {
  padding: 0.5rem 0;
}

.courseInfo span {

}

/* */



/* */


/* */
